= form_for application, url: doorkeeper_submit_path(application), html: { role: 'form', class: 'doorkeeper-app-form' } do |f|
  = form_errors(application)

  .form-group
    = f.label :name, class: 'label-light'
    = f.text_field :name, class: 'form-control', required: true

  .form-group
    = f.label :redirect_uri, class: 'label-light'
    = f.text_area :redirect_uri, class: 'form-control', required: true

    %span.form-text.text-muted
      = _('Use one line per URI')
    - if Doorkeeper.configuration.native_redirect_uri
      %span.form-text.text-muted
        = _('Use <code>%{native_redirect_uri}</code> for local tests').html_safe % { native_redirect_uri: Doorkeeper.configuration.native_redirect_uri }

  .form-group
    = f.label :scopes, class: 'label-light'
    = render 'shared/tokens/scopes_form', prefix: 'doorkeeper_application', token: application, scopes: @scopes

  .prepend-top-default
    = f.submit _('Save application'), class: "btn btn-create"
