%li.flex-row
  .user-avatar
    = image_tag avatar_icon_for_user(user), class: "avatar", alt: ''
  .row-main-content
    .user-name.row-title.str-truncated-100
      = link_to user.name, [:admin, user]
    - if user.blocked?
      %span.badge.badge-danger blocked
    - if user.note.present?
      = link_to "#", { "data-toggle" => "tooltip", title: user.note, class: "user-note"} do
        = icon("sticky-note-o cgrey")
    - if user.admin?
      %span.badge.badge-success Admin
    - if user.external?
      %span.badge.badge-secondary External
    - if user == current_user
      %span It's you!
    .row-second-line.str-truncated-100
      = mail_to user.email, user.email
  .controls

    = render 'admin/namespace_plan_badge', namespace: user.namespace

    = link_to 'Edit', edit_admin_user_path(user), id: "edit_#{dom_id(user)}", class: 'btn'
    - unless user == current_user
      .dropdown.inline
        %a.dropdown-new.btn.btn-default#project-settings-button{ href: '#', data: { toggle: 'dropdown' } }
          = icon('cog')
          = icon('caret-down')
        %ul.dropdown-menu.dropdown-menu-right
          %li.dropdown-header
            Settings
            %li
              - if user.ldap_blocked?
                %span.small Cannot unblock LDAP blocked users
              - elsif user.blocked?
                = link_to 'Unblock', unblock_admin_user_path(user), method: :put
              - else
                = link_to 'Block', block_admin_user_path(user), data: { confirm: 'USER WILL BE BLOCKED! Are you sure?' }, method: :put
            - if user.access_locked?
              %li
                = link_to _('Unlock'), unlock_admin_user_path(user), method: :put, data: { confirm: _('Are you sure?') }
          - if can?(current_user, :destroy_user, user)
            %li.divider
            - if user.can_be_removed?
              %li
                %button.delete-user-button.btn.text-danger{ data: { toggle: 'modal',
                  target: '#delete-user-modal',
                  delete_user_url: admin_user_path(user),
                  block_user_url: block_admin_user_path(user),
                  username: user.name,
                  delete_contributions: false }, type: 'button' }
                  = s_('AdminUsers|Delete user')

            %li
              %button.delete-user-button.btn.text-danger{ data: { toggle: 'modal',
                target: '#delete-user-modal',
                delete_user_url: admin_user_path(user, hard_delete: true),
                block_user_url: block_admin_user_path(user),
                username: user.name,
                delete_contributions: true }, type: 'button' }
                = s_('AdminUsers|Delete user and contributions')
