!!! 5
%html{ lang: "en", class: system_message_class }
  = render "layouts/head"
  %body.ui-indigo.login-page.application.navless
    = header_message
    = render "layouts/header/empty"
    = render "layouts/broadcast"
    .container.navless-container
      .content
        = render "layouts/flash"
        = yield

    %hr
    .container
      .footer-links
        = link_to "Explore", explore_root_path
        = link_to "Help", help_path
        = link_to "About GitLab", "https://about.gitlab.com/"
    = footer_message
